doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title i Note Book list

        link(rel='stylesheet', href='css/index.css')
        
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script(src='libs/hello.min.js')
        script(src='js/notebookstorage.js')
        script(type='text/javascript', src='js/index.html.js')

    body(style='padding:10px;')
        #page.page
            #divHeader.header(style='padding: 0px;height:110px;')
                    div(style='float:left')
                        span#appTitle iNote
                        span#btnCreate.toolButton Create new notebook
                    div(style='float:right')
                        span.loginHolder {{login_link}}
                        br
                        button(style='display:non;', onclick='hello("windows").login()') w
            #notebookList {{notebook_list}}
