doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title iNote

        
        link(rel='stylesheet', href='css/inote.css')
        // jQuery
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script window.jQuery || document.write('<script src="libs/jquery-1.11.0.min.js"><\/script>')
        script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
        script window.d3 || document.write('<script src="libs/d3.v3.min.js"><\/script>')
        //fix for jquery >1.9 for colResize
        script(type='text/javascript'). 
            $.browser={ msie: ( navigator.appName == 'Microsoft Internet Explorer') ? true : false } ;
        if dbg            
            script(src='libs/codemirror-4.3/lib/codemirror.js')
            script(src='libs/codemirror-4.3/addon/hint/show-hint.js')
            script(src='libs/codemirror-4.3/addon/hint/javascript-hint.js')
            script(src='libs/codemirror-4.3/addon/comment/comment.js')
            script(src='libs/codemirror-4.3/mode/xml/xml.js')
            script(src='libs/codemirror-4.3/mode/javascript/javascript.js')
            script(src='libs/codemirror-4.3/mode/css/css.js')
            script(src='libs/codemirror-4.3/mode/htmlmixed/htmlmixed.js')
            script(src='libs/codemirror-4.3/mode/coffeescript/coffeescript.js')
            //script(src='libs/codemirror-4.3/addon/edit/formatting.js')
            script(src='libs/codemirror-4.3/addon/edit/matchbrackets.js')
            script(src='libs/codemirror-4.3/addon/edit/closetag.js')
            script(src='libs/codemirror-4.3/addon/fold/foldcode.js')
            script(src='libs/codemirror-4.3/addon/fold/foldgutter.js')
            script(src='libs/codemirror-4.3/addon/fold/brace-fold.js')
            script(src='libs/codemirror-4.3/addon/fold/xml-fold.js')
            script(src='libs/codemirror-4.3/addon/fold/indent-fold.js')
            script(src='libs/codemirror-4.3/addon/dialog/dialog.js')
            script(src='libs/codemirror-4.3/addon/search/searchcursor.js')
            script(src='libs/codemirror-4.3/addon/search/search.js')
                
            script(src='libs/codemirror-4.3/keymap/vim.js')
            
            script(src='libs/coffee-script.js')
            script(src='libs/json2.min.js')
            script(src='libs/showdown.js')
            script(src='libs/colResizable-1.3.min.js')
                
            script(src='js/cdmirror.js')
            script(src='js/cell.js')
            script(src='js/inote.js')
            script(src='js/notebookstorage.js')
            script(src='js/inote.html.js')
        else
            script(src='js/all.js')
        
    body
        #divHeader.header
            div(style='float: right; white-space: nowrap')
                span.notebookOwner {{notebook_owner}}
                span.loginHolder {{login_link}}
        
            span#saveIndicator
            span#notebookName.notebookName(onclick='changeName()') {{notebook_name}}
            span.notebookVersion {{notebook_version}}
            a.toolButton(href='/') Home
            // <span id="btnClear" class="toolButton" >clear</span>
            // <span id="btnOpen" class="toolButton" >restore</span>
            span#saveGroup
                span#btnSave.toolButton save
                span.toolButton
                    input#autoSave(type='checkbox')
                    label(for='autoSave') autosave
                select#notebookAccess.selectButton(title='Access')
                    option(value='public') public
                    option(value='private') private
                select#notebookEditor.selectButton(title='Editor')
                    option(value='default') default editor
                    option(value='vim') vim
                select#selectTheme_button.selectButton(onchange='selectTheme()')
                    option(value='default') default theme
                    option(value='3024-day') 3024-day
                    option(value='3024-night') 3024-night
                    option(value='ambiance') ambiance
                    option(value='base16-dark') base16-dark
                    option(value='base16-light') base16-light
                    option(value='blackboard') blackboard
                    option(value='cobalt') cobalt
                    option(value='eclipse') eclipse
                    option(value='elegant') elegant
                    option(value='erlang-dark') erlang-dark
                    option(value='lesser-dark') lesser-dark
                    option(value='midnight') midnight
                    option(value='monokai') monokai
                    option(value='neat') neat
                    option(value='night') night
                    option(value='rubyblue') rubyblue
                    option(value='solarized dark') solarized dark
                    option(value='solarized light') solarized light
                    option(value='tomorrow-night-eighties') tomorrow-night-eighties
                    option(value='twilight') twilight
                    option(value='vibrant-ink') vibrant-ink
                    option(value='xq-dark') xq-dark
                    option(value='xq-light') xq-light

            
        
        #page.page {{notebook_content}} 



