div(style='padding-right:10px;float:right;')
    span.user_social_name {{user_social_name}}
    span.user_network(style='display:none') {{user_network}}
    span.user_id(style='display:none') {{user_id}}
    span.loginHolder {{login_link}}
    span.oauthHolder
