/*------------cell----------------------*/
.cell
{
	position:relative;
	border: 0px solid transparent;
	margin-top:10px;
	overflow:visible;
	padding:0px;
    padding-right: 5px;
    padding-left: 5px;
    width:100%;
    /*border-radius: 6px;*/

}

/*
.cell:hover
{
    border-color:  #f0f0f0;
}
*/


.cell:hover .hidable
{
    visibility: visible;
}




.input_header
{
    /*border-bottom: 1px dotted #DDD;*/
    width:100%;
}

.output_header
{
    border-top: 1px dotted #DDD;
    width:100%;
}


.inputTitle, .outputTitle
{
	color:#CCC;
	display:inline-block;
	font-family: sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
	/*border: 1px dotted #FFF;*/
	cursor: default;
	background-color: #FFF;
	vertical-align: middle;
	padding-right: 4px;
    /*width: 30px;*/
}


.codeArea
{
    border: 0px solid crimson;
    border-spacing: 0;
    margin: 0;
    padding: 0 ;
    width:100%;

}

.inputCell
{
    margin: 0;
    padding: 0 ;
    vertical-align: top;
}


.javascriptText
{
    /*border-top:1px solid #DDD;*/
    /*border-left:3px solid #DDD;*/
    /*color: #00008b;*/
    /*font-family: Cousine, monospace;*/
    margin: 0;
    padding: 0 ;
    /*width:50%;*/
    background-color: #f5f5f5;
    /*float: left;*/
    /*display: table-cell;*/
    vertical-align: top;
}



.outputCell
{
    width:100%;
    padding-left: 10px;

}



.error
{
	color:red;
    white-space: normal;
    font-family: Cousine, monospace;
    font-size: 85%;
}

.noerror
{
	color:#0000C0;
    white-space: normal;
    font-family: Cousine, monospace;
    font-size: 85%;
}




.input_expander, .output_expander
{
    /*height:10px;*/
    border: 1px dotted #DDD;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0px;
    /*text-align: center;*/
    font-size: 10px;
   color: #BBB;

}




.output_expander
{
    border-top: 0px dotted #DDD;
}




.hidable
{

	visibility:hidden;
}



/*----------------Buttons -----------------*/


.showJavascriptButton
{
    /*position:absolute;*/
    /*bottom:0px;*/
    /*right:0px;*/
    /*z-index: 1000;*/
}

/*.inputCell */
.formatSelectionButton
{
   color: #BBB;
    border-color: transparent;
    background-color: transparent;
    /*position:absolute;*/
    /*top:3px;*/
    /*left:0px;*/
    /*z-index: 999;*/
}



.smallButton
{
	width:14px;
	height:14px;
	color: #CCC;
	font-family:  sans-serif;
	/*font-size: small;*/
	display:inline-block;
	text-align: center;

	cursor: pointer;
	background-color: #FFF;
	vertical-align: middle;
    border: 1px solid transparent;

}
.smallButton:hover
{
    border: 1px dotted #DDD;
}



.insertBefore
{
	position:absolute;
	left:-2px;
	top:-14px;
	border-style: none;
    background-color: transparent;
}

.insertAfter
{
	position:absolute;
	left:-2px;
	bottom:-9px;
	border-style: none;
    background-color: transparent;
}


.deleteButton
{
    float:right;
}

.runButton
{
	color:#F66;
    font-family: sans-serif;
    cursor: pointer;
    /*background-color: #FFF;*/
    /*vertical-align: middle;*/
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #FFF;
    position: relative;
    font-size: 14px;
    top:3px;
}
.runButton:hover
{
}



.toolButton
{
	color:#CCC;
	font-family: sans-serif;
	cursor: pointer;
	/*background-color: #FFF;*/
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
    border: 1px solid transparent;
    text-decoration: none;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;

}


.selectButton:hover, .toolButton:hover
{
    border: 1px dotted #CCC;
}





.markdown
{
	font-family: sans-serif;
}

.markdown h1,h2,h3, h4,h5,h6
{
}

.markdown hr
{
    border-style: none;
    border-bottom: 1px dotted silver;
}


.clearInputButton, .clearOutputButton
{
    /*float: right;*/
}

.hideInputButton, .hideOutputButton
{

}


