@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cousine&;subset=latin,cyrillic);
body {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 200px;
}
input,
select {
  background: transparent;
}
/*PAGE----------------------*/
.page {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 0px solid rgba(200, 200, 200, 0.4);
  padding-left: 20px;
  padding-right: 20px;
  font-family: Roboto, sans-serif;
}
.header:hover .hidable {
  visibility: visible;
}
.loginHolder {
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  color: #777777;
}
.notebookOwner {
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  color: #777777;
}
.toolButton {
  color: #777777;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.toolButton:hover {
  border: 1px dotted rgba(200, 200, 200, 0.4);
}
#appTitle {
  font-family: arial, sans-serif;
  width: 100%;
  vertical-align: middle;
  font-size: 70px;
  font-weight: normal;
}
#notebookList {
  font-family: arial, sans-serif;
  margin-top: 50px;
  color: #777777;
}
#notebookList a {
  color: #777777;
}
#notebookList a:visited {
  color: black;
}
