@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cousine&;subset=latin,cyrillic);
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?c52rba');
  src: url('../fonts/icomoon.eot?#iefixc52rba') format('embedded-opentype'), url('../fonts/icomoon.woff?c52rba') format('woff'), url('../fonts/icomoon.ttf?c52rba') format('truetype'), url('../fonts/icomoon.svg?c52rba#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 200px;
}
input {
  background: transparent;
}
/*PAGE----------------------*/
.page {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.header {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 30px;
}
.header:hover .hidable {
  visibility: visible;
}
.loginHolder {
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  color: #777777;
}
.toolButton {
  margin: 0px;
  border: none;
  color: #777777;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.toolButton:hover {
  border-color: #777777;
}
.selectButton {
  margin: 0px;
  border: none;
  color: #777777;
  background-color: transparent;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
  vertical-align: middle;
}
.selectButton:hover {
  border-color: #777777;
}
/*
.selectButton::before { 
    content: '▼'; 
    font-size: 70%;
    opacity: 0.7;
}
*/
.smallButton {
  margin: 0px;
  border: none;
  color: #777777;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
}
.smallButton:hover {
  border-color: #777777;
}
.oauthHolder {
  font-family: Roboto, sans-serif;
  text-align: right;
  height: 30px;
  display: inline-block;
  color: #777777;
}
.oauthHolder a {
  color: #777777;
}
.ic {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
}
.icon-play::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'r';
  cursor: pointer;
}
.icon-question-circle::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '?';
}
.icon-info-circle::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'i';
}
.icon-home::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'h';
  font-size: 25px;
  margin-left: 0;
}
.icon-pencil::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  content: 'e';
  opacity: 0.7;
}
.icon-image::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'p';
}
.icon-file::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'f';
}
.icon-expand::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'X';
  font-size: 80%;
}
.icon-contract::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '_';
}
.icon-lock::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  content: 'L';
  opacity: 0.7;
}
.icon-unlocked::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'u';
}
.icon-cog::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'g';
}
.icon-food::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'd';
}
.icon-remove::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'b';
}
.icon-menu::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'm';
}
.icon-link::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'n';
}
.icon-attachment::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '@';
}
.icon-eye::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'O';
}
.icon-eye-blocked::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'o';
}
.icon-star::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 't';
}
.icon-close::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'x';
  font-size: 50%;
}
.icon-plus::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '+';
}
.icon-embed::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '[';
}
.icon-share::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 's';
}
.icon-google::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'G';
  font-size: 130%;
  color: #F44;
}
.icon-facebook::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'F';
  font-size: 130%;
}
.icon-twitter::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'T';
  font-size: 130%;
}
.icon-youtube::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'Y';
  font-size: 130%;
}
.icon-github::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'H';
  font-size: 130%;
}
.icon-wordpress::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'P';
  font-size: 130%;
}
.icon-blogger::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'B';
  font-size: 130%;
  color: orange;
}
.icon-windows::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'W';
  font-size: 130%;
  color: #58F;
}
.icon-linkedin::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'I';
  font-size: 130%;
}
.icon-file-xml::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'N';
}
.icon-html5::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '5';
}
.icon-logout::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '<';
}
.icon-login::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '>';
}
.user_social_name,
.user_network {
  margin: 0px;
  border: none;
  color: #777777;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  cursor: default;
}
#appTitle {
  font-family: Roboto, sans-serif;
  width: 100%;
  vertical-align: middle;
  font-size: 70px;
  font-weight: normal;
}
#notebookList {
  font-family: Roboto, sans-serif;
  color: #777777;
}
#notebookList a {
  color: #777777;
}
#notebookList a:visited {
  color: black;
}
#btnCreate {
  border: 1px solid rgba(200, 200, 200, 0.7);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 60px;
  border-radius: 12px;
  font-variant: small-caps;
}
#btnCreate:hover {
  border-color: rgba(200, 200, 200, 0.7);
}
