@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cousine&;subset=latin,cyrillic);
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?lv15ky');
  src: url('../fonts/icomoon.eot?#iefixlv15ky') format('embedded-opentype'), url('../fonts/icomoon.ttf?lv15ky') format('truetype'), url('../fonts/icomoon.svg?lv15ky#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: white;
  padding: 0;
  margin: 0;
  padding-bottom: 200px;
}
input {
  background: transparent;
}
hr {
  border-style: none;
  border-bottom: 1px solid rgba(200, 200, 200, 0.7);
}
/*PAGE----------------------*/
.page {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 899px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 0px solid rgba(200, 200, 200, 0.7);
  border-radius: 6px;
  clear: both;
  box-sizing: border-box;
}
.header {
  padding: 5px;
  padding-left: 8px;
  padding-right: 10px;
  background-color: white;
  border-bottom: 1px solid rgba(200, 200, 200, 0.7);
}
.header:hover .hidable {
  visibility: visible;
}
.loginHolder {
  white-space: nowrap;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}
.toolButton {
  margin: 0px;
  border: none;
  color: #777777;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  padding-right: 15px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}
.selectButton {
  margin: 0px;
  border: none;
  color: #777777;
  background-color: transparent;
  cursor: pointer;
  padding-right: 15px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  border-radius: 0px;
}
.selectButton::-ms-expand {
  display: none;
}
.arrowDown::before {
  content: '▼';
  font-size: 50%;
  opacity: 0.5;
  color: #777777;
}
.smallButton {
  margin: 0px;
  border: none;
  color: #777777;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  padding-right: 15px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
}
.smallButton:hover {
  border-color: #777777;
}
.oauthHolder {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-align: right;
  display: inline-block;
  color: #777777;
}
.oauthHolder a {
  color: #777777;
}
.ic {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
}
.icon-play::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'r';
  cursor: pointer;
}
.icon-question-circle::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '?';
}
.icon-info-circle::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'i';
}
.icon-home::before {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  content: 'h';
  opacity: 0.7;
  font-size: 120%;
}
.icon-pencil::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  content: 'e';
  opacity: 0.7;
}
.icon-image::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'p';
}
.icon-file::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'f';
}
.icon-expand::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'X';
  font-size: 80%;
}
.icon-contract::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '_';
}
.icon-lock::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  content: 'L';
  opacity: 0.7;
}
.icon-unlocked::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'u';
}
.icon-cog::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'g';
}
.icon-food::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'd';
}
.icon-remove::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'b';
}
.icon-menu::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'm';
  font-size: 130%;
  opacity: 0.5;
}
.icon-link::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'n';
}
.icon-attachment::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '@';
}
.icon-eye::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'O';
}
.icon-eye-before::before {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'O';
  color: #2a6496;
}
.icon-eye-transparent::before {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'O';
  opacity: 0.0;
}
.icon-eye-blocked::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'o';
}
.icon-star::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 't';
}
.icon-close::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'x';
  font-size: 50%;
}
.icon-plus::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '+';
}
.icon-embed::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '[';
}
.icon-share::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 's';
}
.icon-google::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'G';
  font-size: 130%;
  color: #F44;
}
.icon-google-before::before {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'G';
  font-size: 130%;
  color: #F44;
}
.icon-facebook::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'F';
  font-size: 130%;
}
.icon-twitter::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'T';
  font-size: 130%;
}
.icon-youtube::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'Y';
  font-size: 130%;
}
.icon-github::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'H';
  font-size: 130%;
}
.icon-wordpress::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'P';
  font-size: 130%;
}
.icon-blogger::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'B';
  font-size: 130%;
  color: orange;
}
.icon-windows::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'W';
  font-size: 130%;
  color: #58F;
}
.icon-linkedin::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'I';
  font-size: 130%;
}
.icon-file-xml::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: 'N';
}
.icon-html5::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '5';
}
.icon-logout::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '<';
}
.icon-login::after {
  font-family: icomoon;
  font-size: 15px;
  color: #777777;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
  content: '>';
}
.user_name,
.user_network {
  margin: 0px;
  border: none;
  color: #777777;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  padding-right: 15px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  cursor: default;
}
#appTitle {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  vertical-align: middle;
  font-size: 70px;
  font-weight: normal;
}
#notebookList {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}
#notebookList a {
  color: #777777;
}
#notebookList a:visited {
  color: black;
}
#btnCreate {
  border: 0px solid rgba(200, 200, 200, 0.7);
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 60px;
  border-radius: 4px;
  font-variant: small-caps;
  color: white;
  background-color: #222;
  white-space: nowrap;
}
#btnCreate:hover {
  border-color: rgba(200, 200, 200, 0.7);
}
li a {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
