@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cousine&;subset=latin,cyrillic);
body {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 200px;
}
input,
select {
  background: transparent;
}
/*PAGE----------------------*/
.page {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  font-family: sans-serif;
  border-bottom: 1px solid #777777;
  padding-bottom: 16px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: arial, sans-serif;
  font-size: 16px;
}
.header:hover .hidable {
  visibility: visible;
}
.loginHolder {
  white-space: nowrap;
  font-family: arial, sans-serif;
}
.toolButton {
  color: #777777;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 16px;
}
.toolButton:hover {
  border: 1px dotted #777777;
}
/*------------cell----------------------*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?c52rba');
  src: url('../fonts/icomoon.eot?#iefixc52rba') format('embedded-opentype'), url('../fonts/icomoon.woff?c52rba') format('woff'), url('../fonts/icomoon.ttf?c52rba') format('truetype'), url('../fonts/icomoon.svg?c52rba#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.cell {
  position: relative;
  border: 0px solid silver;
  margin-top: 10px;
  overflow: visible;
  padding: 0px;
  width: 100%;
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cell:hover .hidable {
  visibility: visible;
}
.input_header {
  width: 100%;
}
.output_header {
  width: 100%;
}
.inputTitle,
.outputTitle {
  color: #777777;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 12px;
  cursor: default;
  vertical-align: middle;
  padding-right: 4px;
}
.codeArea {
  border: 1px solid transparent;
  border-radius: 0px;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-right: 10px;
}
.inputCell {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.javascriptText {
  border-left: 1px solid #AAA;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.outputCell {
  width: 100%;
  border: 1px dotted silver;
  border-radius: 8px;
  padding: 0;
}
.error {
  color: red;
  white-space: normal;
  font-family: Courier New, Menlo, Consolas, Cousine, monospace;
  font-size: 85%;
}
.noerror {
  white-space: normal;
  font-family: Courier New, Menlo, Consolas, Cousine, monospace;
  font-size: 85%;
}
.input_expander,
.output_expander {
  cursor: pointer;
  border-radius: 0px;
  color: #777777;
  width: 100px;
}
.hidable {
  visibility: hidden;
}
/*----------------Buttons -----------------*/
.formatSelectionButton {
  color: #777777;
  border-color: transparent;
}
.smallButton {
  width: 14px;
  height: 14px;
  color: #777777;
  font-family: arial, sans-serif;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid transparent;
}
.smallButton:hover {
  border: 1px dotted #AAA;
}
.insertBefore {
  position: absolute;
  left: -2px;
  top: -14px;
  border-style: none;
  background-color: transparent;
}
.insertAfter {
  position: absolute;
  left: -2px;
  bottom: -9px;
  border-style: none;
  background-color: transparent;
}
.deleteButton {
  float: right;
}
.runButton {
  color: #F66;
  cursor: pointer;
}
.markdown {
  font-family: arial, sans-serif;
}
.markdown > * {
  margin-left: 10px;
  margin-right: 10px;
}
.markdown hr {
  border-style: none;
  border-bottom: 1px dotted silver;
}
.hidable000 {
  visibility: hidden;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.lockButton {
  font-family: icomoon;
  font-size: 80%;
}
.CodeMirror {
  height: auto;
  width: 100%;
  line-height: 130%;
  font-family: Courier New, Menlo, Consolas, Cousine, monospace;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-gutters {
  background-color: transparent;
  border-right: 2px solid  #CCC;
}
.CodeMirror-cursor {
  border-width: 2px !important;
}
.activeline {
  background: #F5F5F5 !important;
}
.CodeMirror-foldmarker {
  color: #777777;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: #777777;
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}
.CodeMirror-fullscreen {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.cm-tab {
  background: url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
  background-position: right;
  background-repeat: no-repeat;
}
.notebookName {
  border: 1px solid transparent;
  font-family: arial, sans-serif;
  font-size: 16px;
  width: 100%;
  vertical-align: middle;
  -webkit-appearance: none;
}
.notebookName:hover {
  border-bottom: 1px dotted #777777;
}
.selectButton {
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
  font-size: 16px;
  color: #777777;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  font-family: arial, sans-serif;
}
.selectButton:hover {
  border: 1px dotted #777777;
}
