.CodeMirror {
  /*border-radius: 5px;*/
  height: auto;
  width:100%;
  /*background-color: transparent; *//*#f0f0f0;*//* *//*#f5f5f5;*/
  font-family: Cousine, monospace;
  /*line-height: 120%;*/
  font-size: 85%;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}


.CodeMirror-gutters
{
    /*border-radius: 5px;*/
    background-color: transparent;
    border-right: 1px dotted #DDD;
   /*display: none;*/

}
.CodeMirror-cursor
{
    border-width: 2px  !important;
}

.CodeMirror-matchingbracket
{
    /*color: red !important;*/
}

.CodeMirror-foldmarker {
    color: red;
    /*text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;*/
    font-family: arial;
    font-weight: bold;
    line-height: .3;
    cursor: pointer;
}

.CodeMirror-collapserange { width: 14px; }

.activeline {background: #F5F5F5 !important;}