.CodeMirror {
    /*border-radius: 5px;*/
    height: auto;
    width: 100%;
    /*background-color: transparent; *//*#f0f0f0;*//* *//*#f5f5f5;*/
    line-height: 130%;
    /*font-family: Cousine, monospace;*/
    font-family: Menlo, Consolas, Cousine, monospace;
    /*font-size: 90%;*/
    /*letter-spacing: 0px;*/

}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.CodeMirror-gutters {
    /*border-radius: 5px;*/
    background-color: transparent;
    border-right: 2px solid  #CCC;
    /*border-left: 3px solid #DDD;*/
    /*display: none;*/

}

.CodeMirror-cursor {
    border-width: 2px !important;
}

.CodeMirror-matchingbracket {
    /*color: red !important;*/
}

/*
.CodeMirror-foldmarker {
    color: red;
    text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;

    font-family: arial;
    font-weight: bold;
    line-height: .3;
    cursor: pointer;
}
*/

/*.CodeMirror-collapserange { width: 14px; }*/

.activeline {
    background: #F5F5F5 !important;
}

/* folding */
.CodeMirror-foldmarker {
    color: #AAA;
    /*text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;*/
    font-family: arial;
    line-height: .3;
    cursor: pointer;
}

.CodeMirror-foldgutter {
    width: .7em;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    color: #AAA;
    cursor: pointer;
}

.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}

.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}


/* fullscreen */
.CodeMirror-fullscreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}


/*Visible tabs*/
.cm-tab {
         background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
         background-position: right;
         background-repeat: no-repeat;
      }

