/*------------cell----------------------*/
.cell {
    position:relative;
    border: 0px solid transparent;
    margin-top:20px;
    overflow:visible;
    padding:0px;
    width:100%;
}
.input_header {
}
.output_header {
}
.codeArea {
    border: 1px solid transparent;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width:100%;
    margin-bottom: 5px;
}
.inputCell {
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: 1px solid transparent;
}
.javascriptText {
    border-left:1px solid @BORDERCOLOR;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.outputCell {
    width:100%;
    border-radius: 0px;
    overflow: auto;
    padding:0;
    border: 1px solid transparent;
    //padding-left:5px;
    //padding-right:5px;
}

.noerror {
    white-space: pre-wrap;
    font-family: @CODEFONT;
    font-size: 85%;
}
.error {
    .noerror;
    color:red;
}

.hideInputButton, 
.hideOutputButton{
    width:90px;
    display: inline-block;
}




// Insert new cell buttons ---------------------------

.insertNewCell() {
    position:absolute;
    left:50%;
    border: 1px solid @BORDERCOLOR;
    background-color: transparent;
    font-size:0px;
    &:after {
        font-size:10px;
    }
}

.insertBefore {
    .insertNewCell();
    top: 0px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}


.insertAfter {
    .insertNewCell();
    bottom:0px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

// ---------------------------------------
.deleteButton {
    float:right;
}

.markdown {
    font-family: @FONT;
    //color: #333;
    & > * {
        margin-left:10px;
        margin-right:10px;
    }
    hr {
        border-style: none;
        border-bottom: 1px dotted @BORDERCOLOR;
    }
}

.hidable000 {
    display:none;
}

.visible {
    display:initial;
}

.lockButton {
}

.visibleBorder
{
    border-color: @BORDERCOLOR;
}
.shadow
{
    //box-shadow:0px 0px 3px 3px rgba(0,0,0,0.04);
}

.fullscreen-top-right {
    position: fixed;
    z-index: 20000;
}

.position_absolute_100
{
    position: absolute;
    z-index:100;
}
.position_relative
{
    position: relative;
}

.javascriptCell {
    border-left:1px solid @BORDERCOLOR;
    vertical-align:top;
}

.unlocked
{
    border-radius:4px;
    border: 1px solid @BORDERCOLOR;
}

.uppertab {
    border: 1px solid @BORDERCOLOR;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-color: white;
    padding-left:10px;
    &:hover {
        border-bottom-color: white;
    }
}    
.cellLabel {
    border:1px solid transparent;
    border-bottom-style: none;
    color: @LINKCOLOR;
    font-family:@BUTTONFONT; 
    font-size:@BUTTONFONTSIZE;
    min-height:20px;
    vertical-align: middle;
    margin:0px;
    padding-left:4px;
    padding-right:4px;
    //border-radius:12px;
    min-width:100px;
    display:inline-block;
    &:hover {
        border-color: @BORDERCOLOR;
    }
}
