@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cousine&;subset=latin,cyrillic);


@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?c52rba');
    src:url('../fonts/icomoon.eot?#iefixc52rba') format('embedded-opentype'),url('../fonts/icomoon.woff?c52rba') format('woff'),url('../fonts/icomoon.ttf?c52rba') format('truetype'),url('../fonts/icomoon.svg?c52rba#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

//@FONT: "Helvetica Neue", Helvetica, sans-serif;
//@FONT: arial,sans-serif;
@FONT: Roboto, sans-serif;

@BUTTONFONT: Roboto, sans-serif;
//@BUTTONFONT: Roboto Condensed, sans-serif;
//@CODEFONT: Courier New, Menlo, Consolas, Cousine, monospace;
@CODEFONT: Menlo,  monospace;
@LINKCOLOR: #777; 
//@BORDERCOLOR: #DDD; 
@BORDERCOLOR: rgba(200,200,200,0.4); 
//#79C;

body {
    background-color: white;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom: 200px;
}

input, select {
    background: transparent;
}


/*PAGE----------------------*/
.page {
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}


// HEADER---------------------------------------------
.header {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 30px;
}
.header:hover {
    .hidable {
        visibility:visible;
    }
}

// LOGIN -----------------------------------------------
.loginHolder {
    white-space: nowrap;
    font-family: @BUTTONFONT;
    color:@LINKCOLOR;
}
// TOOL BUTTON -----------------------------------------
.toolButton {
    color: @LINKCOLOR;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid transparent;
    text-decoration: none;
    font-family:@BUTTONFONT;
    font-size: 16px;
}
.toolButton:hover {
    border: 1px dotted @BORDERCOLOR;
}
.oauthHolder {
    font-family:@BUTTONFONT;
}
.ic {
    font-family: icomoon;
    color: @LINKCOLOR;
    vertical-align: middle;
    margin-left:5px;
}
.icon-login::after { .ic; content: '>'; }
.icon-logout::after { .ic; content: '<'; }

