@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cousine&;subset=latin,cyrillic);


@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?c52rba');
    src:url('../fonts/icomoon.eot?#iefixc52rba') format('embedded-opentype'),url('../fonts/icomoon.woff?c52rba') format('woff'),url('../fonts/icomoon.ttf?c52rba') format('truetype'),url('../fonts/icomoon.svg?c52rba#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

//@FONT: "Helvetica Neue", Helvetica, sans-serif;
//@FONT: arial,sans-serif;
@FONT: Roboto, sans-serif;

@BUTTONFONT: Roboto, sans-serif;
//@BUTTONFONT: Roboto Condensed, sans-serif;
//@CODEFONT: Courier New, Menlo, Consolas, Cousine, monospace;
@CODEFONT: Menlo,  monospace;
@LINKCOLOR: #777; 
//@BORDERCOLOR: #DDD; 
@BORDERCOLOR: rgba(200,200,200,0.7); 
//#79C;

@RAD: 10px;
@BUTTONFONTSIZE: 16px;

body {
    background-color: white;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom: 200px;
}

input {
    background: transparent;
}

hr {
    border-style:none;
    border-bottom:1px solid @BORDERCOLOR;
}
/*PAGE----------------------*/
.page {
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
}

// HEADER---------------------------------------------
.header {
    //padding-top:5px;
    padding-left: 8px;
    padding-right: 10px;
    //min-height: 30px;
}
.header:hover {
    .hidable {
        visibility:visible;
    }
}

// LOGIN -----------------------------------------------
.loginHolder {
    white-space: nowrap;
    font-family: @BUTTONFONT;
    color:@LINKCOLOR;
}
// TOOL BUTTON -----------------------------------------
.toolButton {
    margin:0px;
    border: none;
    color: @LINKCOLOR;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    //padding-left: 8px;
    padding-right: 15px;
    //border-left: 1px dotted transparent;
    //border-right: 1px dotted transparent;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    font-family:@BUTTONFONT;
    font-size: @BUTTONFONTSIZE;
    //border-radius: @RAD;
}
.toolButton:hover {
    //border-color: @LINKCOLOR;
}


// SELECT BUTTON --------------------------
.selectButton {
    .toolButton;
    -webkit-appearance: none;
    -moz-appearance: window;
    appearance: none;
    vertical-align: middle;
    border-radius:0px;
}

.selectButton:hover {
    //border-color: @LINKCOLOR;
}

.arrowDown::before { 
    content: '▼'; 
    font-size: 50%;
    opacity: 0.5;
    color: @LINKCOLOR;
}


// SMALL BUTTONS
.smallButton {
    .toolButton;
    padding-left: 0;
    padding-right: 0;
}
.smallButton:hover {
    border-color: @LINKCOLOR;
}



.oauthHolder {
    font-family:@BUTTONFONT;
    text-align: right;
    //height:30px; 
    display:inline-block;  
    color:@LINKCOLOR;
}
.oauthHolder a {
    color:@LINKCOLOR;
}



.ic {
    font-family: icomoon;
    font-size: 15px;
    color: @LINKCOLOR;
    vertical-align: middle;
    margin-left:4px;
    margin-right:4px;
    opacity:0.7;
}

.icon-play::after { .ic; content: 'r'; cursor:pointer; }
.icon-question-circle::after { .ic; content: '?'; }
.icon-info-circle::after { .ic; content: 'i'; }
.icon-home::before { .ic; content: 'h'; opacity:0.7; font-size:120%; }
.icon-pencil::after { .ic; content: 'e'; opacity:0.7 }
.icon-image::after { .ic; content: 'p'; }
.icon-file::after { .ic; content: 'f'; }
.icon-expand::after { .ic; content: 'X'; font-size:80%;  }
.icon-contract::after { .ic; content: '_'; }
.icon-lock::after { .ic; content: 'L'; opacity:0.7; }
.icon-unlocked::after { .ic; content: 'u'; }
.icon-cog::after { .ic; content: 'g'; }
.icon-food::after { .ic; content: 'd'; }
.icon-remove::after { .ic; content: 'b'; }
.icon-menu::after { .ic; content: 'm'; font-size:130%; opacity:0.5; }
.icon-link::after { .ic; content: 'n'; }
.icon-attachment::after { .ic; content: '@'; }
.icon-eye::after { .ic; content: 'O'; }
.icon-eye-blocked::after { .ic; content: 'o'; }
.icon-star::after { .ic; content: 't'; }
.icon-close::after { .ic; content: 'x'; font-size:50%; }
.icon-plus::after { .ic; content: '+'; }
.icon-embed::after { .ic; content: '['; }
.icon-share::after { .ic; content: 's'; }
.icon-google::after { .ic; content: 'G'; font-size:130%; color:#F44; }
.icon-google-before::before { .ic; content: 'G'; font-size:130%; color:#F44; }
.icon-facebook::after { .ic; content: 'F'; font-size:130%; }
.icon-twitter::after { .ic; content: 'T'; font-size:130%; }
.icon-youtube::after { .ic; content: 'Y'; font-size:130%; }
.icon-github::after { .ic; content: 'H'; font-size:130%; }
.icon-wordpress::after { .ic; content: 'P'; font-size:130%; }
.icon-blogger::after { .ic; content: 'B'; font-size:130%; color:orange; }
.icon-windows::after { .ic; content: 'W'; font-size:130%; color:#58F; }
.icon-linkedin::after { .ic; content: 'I'; font-size:130%; }
.icon-file-xml::after { .ic; content: 'N'; }
.icon-html5::after { .ic; content: '5'; }
.icon-logout::after { .ic; content: '<'; }
.icon-login::after { .ic; content: '>'; }


.user_social_name, .user_network {
    .toolButton;
    cursor: default;
}
