@import 'common';

#appTitle {
    font-family: @FONT;
    width:100%;
    font-size: 70px; 
    font-weight: normal;
}

#notebookList {
    font-family: @FONT;
    color:@LINKCOLOR;
    a {
        color: @LINKCOLOR;
    }
    a:visited {
        color:black;
     }
}
#btnCreate {
    border: 0px solid @BORDERCOLOR;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30px;
    border-radius: 4px;
    font-variant: small-caps;
    color:white;
    background-color:#222;
    white-space: nowrap;
    vertical-align: text-bottom;
    &:hover {
        border-color: @BORDERCOLOR;
    }
}

li a {
    font-family: @FONT;
}

#page {
    max-width:899px;
}

