
        // codemirror begin
@import (inline) '../libs/codemirror-3.0/lib/codemirror.css';
        // autocompletion
@import (inline) '../libs/codemirror-3.0/addon/hint/show-hint.css';
        // themes
@import (inline) '../libs/codemirror-3.0/theme/neat.css';
@import (inline) '../libs/codemirror-3.0/theme/elegant.css';
@import (inline) '../libs/codemirror-3.0/theme/erlang-dark.css';
@import (inline) '../libs/codemirror-3.0/theme/night.css';
@import (inline) '../libs/codemirror-3.0/theme/monokai.css';
@import (inline) '../libs/codemirror-3.0/theme/cobalt.css';
@import (inline) '../libs/codemirror-3.0/theme/eclipse.css';
@import (inline) '../libs/codemirror-3.0/theme/rubyblue.css';
@import (inline) '../libs/codemirror-3.0/theme/lesser-dark.css';
@import (inline) '../libs/codemirror-3.0/theme/xq-dark.css';
@import (inline) '../libs/codemirror-3.0/theme/xq-light.css';
@import (inline) '../libs/codemirror-3.0/theme/ambiance.css';
@import (inline) '../libs/codemirror-3.0/theme/blackboard.css';
@import (inline) '../libs/codemirror-3.0/theme/vibrant-ink.css';
@import (inline) '../libs/codemirror-3.0/theme/solarized.css';
@import (inline) '../libs/codemirror-3.0/theme/twilight.css';
@import (inline) '../libs/codemirror-3.0/theme/midnight.css';
@import (inline) '../libs/codemirror-3.0/theme/3024-day.css';
@import (inline) '../libs/codemirror-3.0/theme/3024-night.css';
@import (inline) '../libs/codemirror-3.0/theme/base16-light.css';
@import (inline) '../libs/codemirror-3.0/theme/base16-dark.css';
@import (inline) '../libs/codemirror-3.0/theme/tomorrow-night-eighties.css';
        // Search repalce
@import (inline) '../libs/codemirror-3.0/addon/dialog/dialog.css';



@import 'common';
@import 'cell';
@import 'mycodemirror';

#saveIndicator {
    position: relative;
    display: inline-block;
    width: 10px;
    height:15px;
    top:3px;
    overflow:hidden;
    font-size:22px;
    color:@LINKCOLOR; 
}
.notebookName {
    position: relative;
    left:0px;
    width:350px;
    border:1px solid transparent;
    font-family: @BUTTONFONT;
    font-size: 16px;
    //width:100%;
    vertical-align: middle;
    -webkit-appearance: none;
    cursor:pointer;
}


.notebookName:hover {
    border-bottom: 1px dotted @LINKCOLOR;
}




.selectButton {
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: window;
    appearance: none;
    font-size: 16px;
    color: @LINKCOLOR;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-family: @BUTTONFONT;
}



.selectButton:hover {
    border: 1px dotted @LINKCOLOR;
}




