@import 'common';
@import 'cell';
@import 'mycodemirror';



.notebookName {
    border:1px solid transparent;
    font-family: @FONT;
    font-size: 16px;
    width:100%;
    vertical-align: middle;
    -webkit-appearance: none;
}


.notebookName:hover {
    border-bottom: 1px dotted @LINKCOLOR;
}




.selectButton {
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: window;
    appearance: none;
    font-size: 16px;
    color: @LINKCOLOR;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-family: @FONT;
}



.selectButton:hover {
    border: 1px dotted @LINKCOLOR;
}




