@import 'common';
@import 'cell';


        // codemirror begin
@import (inline) '../libs/codemirror-4.3/lib/codemirror.css';
        // autocompletion
@import (inline) '../libs/codemirror-4.3/addon/hint/show-hint.css';
        // themes
@import (inline) '../libs/codemirror-4.3/theme/neat.css';
@import (inline) '../libs/codemirror-4.3/theme/elegant.css';
@import (inline) '../libs/codemirror-4.3/theme/erlang-dark.css';
@import (inline) '../libs/codemirror-4.3/theme/night.css';
@import (inline) '../libs/codemirror-4.3/theme/monokai.css';
@import (inline) '../libs/codemirror-4.3/theme/cobalt.css';
@import (inline) '../libs/codemirror-4.3/theme/eclipse.css';
@import (inline) '../libs/codemirror-4.3/theme/rubyblue.css';
@import (inline) '../libs/codemirror-4.3/theme/lesser-dark.css';
@import (inline) '../libs/codemirror-4.3/theme/xq-dark.css';
@import (inline) '../libs/codemirror-4.3/theme/xq-light.css';
@import (inline) '../libs/codemirror-4.3/theme/ambiance.css';
@import (inline) '../libs/codemirror-4.3/theme/blackboard.css';
@import (inline) '../libs/codemirror-4.3/theme/vibrant-ink.css';
@import (inline) '../libs/codemirror-4.3/theme/solarized.css';
@import (inline) '../libs/codemirror-4.3/theme/twilight.css';
@import (inline) '../libs/codemirror-4.3/theme/midnight.css';
@import (inline) '../libs/codemirror-4.3/theme/3024-day.css';
@import (inline) '../libs/codemirror-4.3/theme/3024-night.css';
@import (inline) '../libs/codemirror-4.3/theme/base16-light.css';
@import (inline) '../libs/codemirror-4.3/theme/base16-dark.css';
@import (inline) '../libs/codemirror-4.3/theme/tomorrow-night-eighties.css';
        // Search repalce
@import (inline) '../libs/codemirror-4.3/addon/dialog/dialog.css';



@import 'mycodemirror';

#saveIndicator {
    position: relative;
    display: inline-block;
    width: 10px;
    height:15px;
    top:3px;
    overflow:hidden;
    font-size:22px;
    color:@LINKCOLOR; 
}

.notebookName {
    position: relative;
    border:1px solid transparent;
    font-family: @BUTTONFONT;
    font-size: 16px;
    vertical-align: middle;
    -webkit-appearance: none;
    cursor:pointer;
}

.notebookVersion {
    .notebookName;
    font-size:10px;
    vertical-align:top;
}

.notebookName:hover {
    border-bottom: 1px dotted @LINKCOLOR;
}


.notebookOwner {
    display:none;
}






