.CodeMirror {
    height: auto;
    width: 100%;
    line-height: 120%;
    font-family: @CODEFONT;
    font-size: 120%;
}
/*
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
*/
.CodeMirror-gutters {
    background-color: transparent;
    border-right: 2px solid  @BORDERCOLOR;
}
.CodeMirror-cursor {
    border-width: 2px !important;
}
.CodeMirror-foldmarker {
    color: @LINKCOLOR;
    cursor: pointer;
}
.CodeMirror-foldgutter {
    width: 0.9em;
}
.CodeMirror-foldgutter-open,.CodeMirror-foldgutter-folded {
    color: @LINKCOLOR;
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}
/*
.CodeMirror-fullscreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
*/
.CodeMirror-fullscreen {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 9999;
}

.cm-tab {
    background: url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
    background-position: right;
     background-repeat: no-repeat;
}

