# Windows image file caches



Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


# OSX

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes




#Linux
#.*
!.gitignore
*~



# PROGRAMS PROGRAMS PROGRAMS PROGRAMS PROGRAMS PROGRAMS PROGRAMS PROGRAMS PROGRAMS 

# IDEA

*.iml
*.ipr
*.iws
.idea/




# VIM
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~



# PyCharm
.idea
.iml




# Eclipse

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

node_modules
server.js

# Генерируемые файлы
coffee/*.map
coffee/*.js
js/*
production/*.coffee
production/*.js
production/*.map
index.html
index_debug.html
#.Tester.key
.upload.tgz
.js
.map